@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

:root {
    --darkgreen: #5F6F52;
    --lightgreen: #A9B388;
    --cream: #FEFAE0;
    --brown: #B99470;
    --lime: #55d6aa;
}

body {
    margin: 0;
    background: var(--cream);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background: var(--lime);
    padding:1px;
    text-align: center;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    margin: 0;
    font-size: 2rem;
    color: var(--darkgreen);
}

nav {
    margin-top: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: var(--darkgreen);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
}

nav a:hover {
    color: var(--brown);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

footer {
    background: var(--darkgreen);
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: white;
}

.navbar {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.navbar .nav-link {
    font-weight: 800;
}
#navLoginButton {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background: none;
    text-decoration-line: none;
    cursor: pointer;
    color: #555c54;
    text-decoration: none;
    text-transform: uppercase;
    font-size: clamp(1rem, 2vw, 2rem);
  }
  
  #navLoginButton:hover{
    color:inherit;
    text-decoration: none;
  }